<a href="https://colab.research.google.com/github/mac-raj/Pandas_PyLib/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction of pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 ={
    "name":['prashant','raj','rajani','harish'],
    "marks":[98,34,24,67],
    "city":['rajsthan','bihar','kazipura','sasaram']
}

In [3]:
df=pd.DataFrame(dict1)
# DataFrame is excel sheet

In [4]:
df

       name  marks      city
0  prashant     98  rajsthan
1       raj     34     bihar
2    rajani     24  kazipura
3    harish     67   sasaram

In [5]:
# to download as excel 
df.to_csv('raj.csv',index=False)

In [6]:
# shuru ke do dikhayega
df.head(2)

       name  marks      city
0  prashant     98  rajsthan
1       raj     34     bihar

In [7]:
# last ke do dikhayega
df.tail(2)

     name  marks      city
2  rajani     24  kazipura
3  harish     67   sasaram

In [8]:
# decribe karega
df.describe()

           marks
count   4.000000
mean   55.750000
std    33.629104
min    24.000000
25%    31.500000
50%    50.500000
75%    74.750000
max    98.000000

In [9]:
# to read data from excel file 
raj=pd.read_csv('raj.csv')

In [10]:
raj

       name  marks      city
0  prashant     98  rajsthan
1       raj     34     bihar
2    rajani     24  kazipura
3    harish     67   sasaram

In [11]:
raj['marks']

0    98
1    34
2    24
3    67
Name: marks, dtype: int64

In [12]:
raj['city']

0    rajsthan
1       bihar
2    kazipura
3     sasaram
Name: city, dtype: object

In [13]:
ser =pd.Series(np.random.rand(10))

In [14]:
ser

0    0.246128
1    0.840114
2    0.562710
3    0.755342
4    0.791584
5    0.283465
6    0.942650
7    0.287119
8    0.953399
9    0.462590
dtype: float64

In [15]:
newdf =pd.DataFrame(np.random.rand(334,5) ,index=np.arange(334))

In [16]:
newdf

            0         1         2         3         4
0    0.758844  0.777151  0.803506  0.337670  0.116497
1    0.176815  0.815142  0.275734  0.010935  0.980838
2    0.360166  0.756479  0.281855  0.194533  0.870936
3    0.926001  0.710071  0.179758  0.344348  0.406722
4    0.733448  0.584621  0.875438  0.174458  0.765644
..        ...       ...       ...       ...       ...
329  0.154060  0.565838  0.965897  0.996795  0.875683
330  0.295056  0.858740  0.177319  0.118486  0.643872
331  0.286521  0.023309  0.305618  0.540509  0.871200
332  0.776833  0.422946  0.821092  0.528089  0.834540
333  0.500354  0.945559  0.172618  0.912370  0.054305

[334 rows x 5 columns]

In [17]:
type(newdf)

pandas.core.frame.DataFrame

In [18]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.500255    0.542897    0.505378    0.508050    0.515181
std      0.291980    0.294859    0.289262    0.292341    0.279521
min      0.004572    0.001254    0.001286    0.000459    0.001828
25%      0.251728    0.280562    0.242449    0.252435    0.268319
50%      0.500805    0.558353    0.517189    0.519558    0.510330
75%      0.769702    0.799304    0.744829    0.771665    0.755438
max      0.999867    0.998522    0.995115    0.999939    0.998852

In [19]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [20]:
newdf[0][0]="raj"

In [21]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [22]:
newdf

            0         1         2         3         4
0         raj  0.777151  0.803506  0.337670  0.116497
1    0.176815  0.815142  0.275734  0.010935  0.980838
2    0.360166  0.756479  0.281855  0.194533  0.870936
3    0.926001  0.710071  0.179758  0.344348  0.406722
4    0.733448  0.584621  0.875438  0.174458  0.765644
..        ...       ...       ...       ...       ...
329   0.15406  0.565838  0.965897  0.996795  0.875683
330  0.295056  0.858740  0.177319  0.118486  0.643872
331  0.286521  0.023309  0.305618  0.540509  0.871200
332  0.776833  0.422946  0.821092  0.528089  0.834540
333  0.500354  0.945559  0.172618  0.912370  0.054305

[334 rows x 5 columns]

In [23]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [24]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [25]:
newdf.to_numpy()

array([['raj', 0.7771510656123984, 0.8035057857818122,
        0.3376702609473946, 0.11649715961761631],
       [0.17681525031762335, 0.8151420552595012, 0.27573351455423956,
        0.01093492737115509, 0.980837544522595],
       [0.36016643022826766, 0.7564786189763351, 0.2818551812839214,
        0.1945332959419127, 0.8709361291087984],
       ...,
       [0.28652115190451777, 0.023308761506783182, 0.3056176398091156,
        0.5405094533995223, 0.8712002377091805],
       [0.7768331985987714, 0.4229457447669701, 0.821092133419607,
        0.5280893332467201, 0.8345397399756493],
       [0.5003542445930386, 0.9455589371497142, 0.17261754104145066,
        0.912369581753956, 0.05430539949978619]], dtype=object)

In [26]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,raj,0.176815,0.360166,0.926001,0.733448,0.912278,0.038489,0.228237,0.604678,0.608451,...,0.15638,0.820104,0.206476,0.914111,0.829557,0.15406,0.295056,0.286521,0.776833,0.500354
1,0.777151,0.815142,0.756479,0.710071,0.584621,0.839209,0.448706,0.53419,0.253397,0.884725,...,0.542838,0.930992,0.725797,0.915825,0.318485,0.565838,0.85874,0.023309,0.422946,0.945559
2,0.803506,0.275734,0.281855,0.179758,0.875438,0.392492,0.111213,0.515893,0.072452,0.103465,...,0.208053,0.343478,0.201796,0.288277,0.609525,0.965897,0.177319,0.305618,0.821092,0.172618
3,0.33767,0.010935,0.194533,0.344348,0.174458,0.563781,0.952506,0.85001,0.282259,0.826067,...,0.275705,0.700621,0.942658,0.039483,0.284975,0.996795,0.118486,0.540509,0.528089,0.91237
4,0.116497,0.980838,0.870936,0.406722,0.765644,0.737294,0.728223,0.044281,0.673935,0.911529,...,0.41712,0.132062,0.260415,0.687194,0.785781,0.875683,0.643872,0.8712,0.83454,0.054305

In [27]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.500354  0.945559  0.172618  0.912370  0.054305
332  0.776833  0.422946  0.821092  0.528089  0.834540
331  0.286521  0.023309  0.305618  0.540509  0.871200
330  0.295056  0.858740  0.177319  0.118486  0.643872
329   0.15406  0.565838  0.965897  0.996795  0.875683
..        ...       ...       ...       ...       ...
4    0.733448  0.584621  0.875438  0.174458  0.765644
3    0.926001  0.710071  0.179758  0.344348  0.406722
2    0.360166  0.756479  0.281855  0.194533  0.870936
1    0.176815  0.815142  0.275734  0.010935  0.980838
0         raj  0.777151  0.803506  0.337670  0.116497

[334 rows x 5 columns]

In [28]:
newdf.head()

          0         1         2         3         4
0       raj  0.777151  0.803506  0.337670  0.116497
1  0.176815  0.815142  0.275734  0.010935  0.980838
2  0.360166  0.756479  0.281855  0.194533  0.870936
3  0.926001  0.710071  0.179758  0.344348  0.406722
4  0.733448  0.584621  0.875438  0.174458  0.765644

In [29]:
newdf[0]

0           raj
1      0.176815
2      0.360166
3      0.926001
4      0.733448
         ...
329     0.15406
330    0.295056
331    0.286521
332    0.776833
333    0.500354
Name: 0, Length: 334, dtype: object

In [30]:
type(newdf[0])

pandas.core.series.Series

In [31]:
newdf2 =newdf

In [32]:
newdf2[0][0]=10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
# if chanege in newdf 2 also make change in newdf 
newdf

            0         1         2         3         4
0          10  0.777151  0.803506  0.337670  0.116497
1    0.176815  0.815142  0.275734  0.010935  0.980838
2    0.360166  0.756479  0.281855  0.194533  0.870936
3    0.926001  0.710071  0.179758  0.344348  0.406722
4    0.733448  0.584621  0.875438  0.174458  0.765644
..        ...       ...       ...       ...       ...
329   0.15406  0.565838  0.965897  0.996795  0.875683
330  0.295056  0.858740  0.177319  0.118486  0.643872
331  0.286521  0.023309  0.305618  0.540509  0.871200
332  0.776833  0.422946  0.821092  0.528089  0.834540
333  0.500354  0.945559  0.172618  0.912370  0.054305

[334 rows x 5 columns]

In [34]:
newdf.loc[0,0]=100

In [35]:
newdf

            0         1         2         3         4
0         100  0.777151  0.803506  0.337670  0.116497
1    0.176815  0.815142  0.275734  0.010935  0.980838
2    0.360166  0.756479  0.281855  0.194533  0.870936
3    0.926001  0.710071  0.179758  0.344348  0.406722
4    0.733448  0.584621  0.875438  0.174458  0.765644
..        ...       ...       ...       ...       ...
329   0.15406  0.565838  0.965897  0.996795  0.875683
330  0.295056  0.858740  0.177319  0.118486  0.643872
331  0.286521  0.023309  0.305618  0.540509  0.871200
332  0.776833  0.422946  0.821092  0.528089  0.834540
333  0.500354  0.945559  0.172618  0.912370  0.054305

[334 rows x 5 columns]

In [36]:
newdf.drop(2,axis=1)

            0         1         3         4
0         100  0.777151  0.337670  0.116497
1    0.176815  0.815142  0.010935  0.980838
2    0.360166  0.756479  0.194533  0.870936
3    0.926001  0.710071  0.344348  0.406722
4    0.733448  0.584621  0.174458  0.765644
..        ...       ...       ...       ...
329   0.15406  0.565838  0.996795  0.875683
330  0.295056  0.858740  0.118486  0.643872
331  0.286521  0.023309  0.540509  0.871200
332  0.776833  0.422946  0.528089  0.834540
333  0.500354  0.945559  0.912370  0.054305

[334 rows x 4 columns]

In [37]:
newdf

            0         1         2         3         4
0         100  0.777151  0.803506  0.337670  0.116497
1    0.176815  0.815142  0.275734  0.010935  0.980838
2    0.360166  0.756479  0.281855  0.194533  0.870936
3    0.926001  0.710071  0.179758  0.344348  0.406722
4    0.733448  0.584621  0.875438  0.174458  0.765644
..        ...       ...       ...       ...       ...
329   0.15406  0.565838  0.965897  0.996795  0.875683
330  0.295056  0.858740  0.177319  0.118486  0.643872
331  0.286521  0.023309  0.305618  0.540509  0.871200
332  0.776833  0.422946  0.821092  0.528089  0.834540
333  0.500354  0.945559  0.172618  0.912370  0.054305

[334 rows x 5 columns]